<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="public/js/jquery.facedetection.min.js"></script>
    <script type="text/javascript" src = "public/js/face_check.js"></script>
    <title>hello,world</title>
</head>
  <body>
    <h1>レイアウト</h1>
    <%= yield %>
  </body>
  </html>